.assignment {
  cursor: pointer;
}
.assignment:active {
  top: 2px;
}

.date-wrapper {
  display: flex;
  justify-content: space-between;
}

.icon-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
